.listproduct h1 {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 550;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    flex: 1 1 100%;
}

.listproduct {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(52, 49, 76);
    padding: 50px 36px 0px 50px;
}

.checkbox {
    display: flex;
    gap: 10px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.table span {
    color: black;
    text-align: center;
}

.board-product {
    position: relative;
    padding: 18px 0px;
    border-bottom: 1px solid #ccc;
}

.checkbox p {
    color: black;
}

.table2 {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.table2 span {
    color: rgb(52, 49, 76);
    text-align: center;
}

.current span {
    background-color: rgb(9, 182, 109);
    padding: 5px 10px;
    border-radius: 10px;

}

.current {
    text-align: center;
 
}
.price{
    text-align: center; 
}
.price span {
    background-color: rgb(241, 90, 90);
    padding: 5px 10px;
    border-radius: 10px;
}
.phone{
    text-align: center; 

}

.phone span{
background-color: rgb(230, 210, 98);
    padding: 5px 10px;
    border-radius: 10px;
}
.edit{
    display: flex;
    gap: 23px;
   margin: auto;
}
.edit img{

width: 27px;
height: 27px;
}

.fromAdd input{
    font-size: 15px;
    padding-left: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 7px;
    width: 742px;
    height: 38px;
}
.fromAdd{

    position: absolute;
    top: 100px;
    left: 550px;
    padding: 40px 0px 70px 0px;
    border-radius: 50px;
    margin: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 900px;
    background-color: rgb(233, 149, 174);
}
.fromAdd button{
    margin: auto;
    border-radius: 20px;
    width: 80px;
    height: 43px;
    background-color: aqua;
}
.header-form{
    text-align: center;
}
.header-form img{
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}
.select-form{
    margin: auto;
    border: 1px solid black;
    border-radius: 7px;
    width: 742px;
    height: 38px;
}
