.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    color: #fff;
    font-family: Arial;
    background-color: rgb(221, 0, 0);
    gap: 30px;
    align-items: center;
    display: flex;
    height: 65px;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;

}


.header img {
    width: 245px;
    height: 45px;
}

.phone_header img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.phone_header {
    display: flex;
}

.header_chitiet img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.header_baohanh img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.header_hethong img{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.header_chitiet ,.header_baohanh ,.header_hethong{
    display: flex;
    gap: 8px;

}
.header_input{
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    height: 35px;
    padding: 5px 47px 5px 12px;
}

.header_vung select{
    border-radius: 20px;
    color: #FFFFFF;
    width: 110px;
    height: 35px;
    background:#ff5050;
    border: 0px solid #ff5050 ;

}
/* trên là Header */





/* Dưới này là Footer */
.footer{
    padding-top: 30px;
    gap: 110px;
    display: flex;
    margin: auto;
    width: 1200px;
    /* background-color: #ff5050; */
    margin-top: 80px;
    margin-bottom: 30px;
    

}
.row1_footer{
    width:20% ;
    line-height: 22px;
}
.row1_footer a{
    font-size: 14px;
    color: #212529;
    text-decoration: none;
    list-style: none;
}
.footer-top__text{
    
}
svg{
    width: 14px;
    height: 14px;
}
.footer-top__item{
    width: 585px;
}
.footer-top__item ul{

    list-style: none;
}
.region-menu{
    display: flex;
}
.phone-number{
    font-size: 14px;
    color: #212529;
    list-style: none;
}
.footer-top__text a{
    text-decoration: none;

}

