

.toggle{
    margin-top: 50px;
    cursor: pointer; 
    /*cursor: pointer; đẻ người ra có thể nhấn vào được  */
    display: flex;
    align-items: center;
    border-radius: 40px;
    width: 100px;
    height: 50px;
    background-color: brown;
    transform: all 0.2s linear;
}
.toggle.active{
    background-color: aqua ;
}

.spinner{
    gap: 20px;
    display: flex;
    margin: 0px 8px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: black;
    transform: all 0.2s linear;
}
.spinner.active{
    transform: translate(45px);
}

.container-game{
    margin: auto;
    border: 1px solid #ccc;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.cell-game{
    border: 1px solid #ccc;
    cursor: pointer;
}
.board {
    width: 300px;
    margin: 50px auto;
    border: 3px solid #333;
    border-radius: 5px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square {
    float: left;
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    border: 1px solid #999;
  }
  
  .square:hover {
    background-color: #f0f0f0;
  }
  
  .status {
    margin-bottom: 10px;
    font-weight: bold;
  }
  

