.container img {
    width: 100%;
}


.container {

    font-family: Arial;
    position: relative;
}




.form-sigin form {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0px 25px 25px 0px;
    width: 50%;
    height: 100%;
    display: flex;


}

.for-password{
    font: 13px;
    justify-content: space-between;
    gap: 10px;
    display: flex;
}

.demo button {
    text-align: center;
    border: 1px solid #FFFFFF;
    background-color: aqua;
    border-radius: 20px;
    width: 207px;
    height: 46px;
    margin: auto;
}
.img-icon-real{
    border-radius: 50px;
    border: 1px solid #babdc4;

    padding: 4px 4px 1px 4px;
}
.img-icon-real img{
    border-radius: 30px;
   margin: auto;
}
.img-icon {
gap: 35px;
margin: auto;
display: flex;
}



.form-sigin {
    display: flex;
    border-radius: 25px;
    width: 53%;
    height: 49%;
    position: absolute;
    transform: translate(47%, -182%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
}
.demo{
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.form2 button{
    text-align: center;
    border: 0px solid;
    background-color: aqua;
    border-radius: 20px;
    width: 207px;
    height: 46px;
    margin: auto;
}
.form2 {
    gap: 30px;
    padding: 0px 20px;
    margin: auto;
    width: 50%;
    display: flex;
     flex-direction: column;
     text-align: center;
}


